{% extends 'workspaces/base.html' %}

{% block page_title %}Workspaces :: {{ current_workspace }}{% endblock %}

{% block object_add_url %}{% url 'workspaces:workspace-add' current_workspace  %}{% endblock %}
{% block object_list_url %}{% url 'workspaces:workspace-list' current_workspace  %}{% endblock %}

{% block table_head_content %}
  <tr>
    <th>Name</th>
    <th style="width:50%">Description</th>
    <th>Owner</th>
    <th style="display:none"></th>
    <th>Actions</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for workspace in object_list %}
  <tr>
    <td>
      <a href="{% url 'workspaces:workspace-detail' current_workspace workspace.id %}">
        <strong>{{ workspace.name }}</strong><br/>
      </a>
    </td>
    <td>{{ workspace.description }}</td>
    <td>{{ workspace.owner }}</td>
    <td>{% if workspace.updated_at %}{{ workspace.updated_at|date:'Y-m-d' }}{% endif %}</td>
    <td>
      <a class="button is-link is-outlined" href="{% url 'workspaces:workspace-edit' current_workspace workspace.id %}?next={{ encoded_url }}" title="Edit">
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
        <small>edit</small>
      </a>
     <form method="post" action="{% url 'workspaces:workspace-detail' current_workspace workspace.id %}" style="display:inline;">
       {% csrf_token %}
       <button class="button is-small is-link is-outlined" type="submit" name="remove" value="yes" title="Remove" onclick="return confirm('Are you sure you want to remove this workspace?');" style="min-width:2.5em;">
         <span class="icon is-small"><i class="fas fa-trash"></i></span>
       </button>
     </form>
    </td>
  </tr>
  {% endfor %}
{% endblock %}
