{% extends 'base.html' %}

{% block page_title %}Projects{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <h2 class="title">Projects</h2>
    <a class="button is-primary" href="{% url 'project-add' %}">Add Project</a>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if projects %}
          {% for project in projects %}
          <tr>
            <td><a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a></td>
            <td>{{ project.description }}</td>
            <td>{{ project.created_at|date:'Y-m-d H:i:s' }}</td>
            <td>{{ project.updated_at|date:'Y-m-d H:i:s' }}</td>
            <td></td>
          </tr>
          {% endfor %}
        {% else %}
          <tr><td colspan="5">No projects found for this workspace.</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} 