DJANGO_DEBUG=1
DJANGO_DATABASE_URL=mysql://username:password@localhost:3306/agily
ENVIRONMENT=local
DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=CHANGEME
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
WATCHMAN_TOKEN=CHANGEME
CELERY_BROKER_URL=redis://localhost:6379/0
SENTRY_ENABLED=False
SENTRY_DSN=http://example.com/123
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL="agily <noreply@localhost>"
DJANGO_EMAIL_SUBJECT_PREFIX="[agily] "
DJANGO_SERVER_EMAIL="agily <noreply@localhost>"
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
USER_AGENT=agily/0.1.0
CELERY_ALWAYS_EAGER=1
